@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@1,700&display=swap");

body{
    background-color: #EEF9BF;
    height: 629px;
    width: 1110px;
}
.titulo{font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: -0.004em;
    color:#75B79E;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    }

    .mesadejogo{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .card {
        width: 200px;
        height: 250px;
        position: relative;
        margin-top: 34px;
      }

      .face {
        width: 100%;
        height: 100%;
        background-color: #A7E9AF;
        border-radius: 10px;
        box-shadow: 1px 1px 1px rgba(0,0,0,.3);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        backface-visibility: hidden;
        transition: all .5s;
        transform-style: preserve-3d;
      }

      .back-face  {
        transform: rotateY(180deg);
      }

      .cardtrans .back-face  {
        transform: rotateY(0deg);
      }

      .cardtrans .front-face   {
        transform: rotateY(-180deg);
      }


      img{height: 100px;
      }

      